@font-face {
    font-family: 'icomoon';
    src:  url('../iconos/icomoon.eot/icomoon.eot?xf2595');
    src:  url('../iconos/icomoon.eot?xf2595#iefix') format('embedded-opentype'),
      url('../iconos/icomoon.ttf?xf2595') format('truetype'),
      url('../iconos/icomoon.woff?xf2595') format('woff'),
      url('../iconos/icomoon.svg?xf2595#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


*{
    box-sizing: border-box;
}


body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

header {
    height: 50px;
    color: rgb(1, 41, 112);
    padding: 20px 40px 0px 60px;
    margin-top: 10px;
    
}



.nav-links {
    font-size: 25px;
    margin-top: 10px;
    float: right;
    font-weight: 600;
}

.logo {
    font-size: 40px;
}
.nav-links a {
    text-decoration: none;
    margin-left: 30px;
}

.nav-links a:hover {
    color: blue;
}
.active {
    color: blue;
}

.get-started{
    background-color: rgb(52, 52, 230);
    color: white;
    padding: 20px;
    margin: 0px 5px 0px 5px;
    border-radius: 10%;
    font-weight: 400px;

}


.main-section {
    padding: 2%;    
    margin-top: 60px;
    height: 600px;
    background-color: rgb(211, 211, 236);
}

.main-section h1 {
    color: rgb(1, 41, 112);
    font-size: 50px;
    font-weight: 600;

}

.main-section p {
    color: rgba(15, 15, 15, 0.705);
    font-size: 20px;
}

.main-section .text {
    width: 50%;
    display: inline-block;
    margin-left: 10%;
}
.main-section .text p{
    margin-bottom: 50px;
}


.main-section .text a {
    font-size: 20px;
    font-weight: 600px;
    text-decoration: none;
    display: inline-block;
    
}

.main-section .text a span {
    margin: 10px;
}

.main-section .text a .get-started::after {
    font-family: 'icomoon';
    content: "\e901";
    margin-left: 30px;
} 


.main-section img {
    float: right;
    margin-right: 10%;
}


.values {
    text-align: center;
}
.values .values-title {
    color: rgb(1, 41, 112);
    margin-bottom: 20px;
}


.values-elements {
    height: 600px;
    display: inline-block;
    width: 25%;
    border: 3px solid rgb(209, 204, 204);
    margin: 3%;
    padding-top: 1%;
}

.values-elements img {
    width: 100%;
}

.values .values-elements h2{
    font-size: 30px;
    color: rgb(1, 41, 112);
    text-align: center;

}

.values .values-elements p {
    padding: 0% 5% 0% 5%;
}

